In [1]:
import pandas as pd

In [2]:
ordered_satisfaction=['Very Unhappy','Unhappy','Neutral','Happy',]

In [7]:
df=pd.DataFrame({'satisfaction':['Mad', 'Happy', 'Unhappy', 'Neutral']})

In [9]:
df

  satisfaction
0          Mad
1        Happy
2      Unhappy
3      Neutral

In [16]:
df['satisfaction2']=df.satisfaction.astype(dtype='category',ordered= True, categories=ordered_satisfaction )

/usr/local/lib/python2.7/dist-packages/ipykernel_launcher.py:1: FutureWarning: specifying 'categories' or 'ordered' in .astype() is deprecated; pass a CategoricalDtype instead
  """Entry point for launching an IPython kernel.

In [17]:
df

  satisfaction satisfaction2
0          Mad           NaN
1        Happy         Happy
2      Unhappy       Unhappy
3      Neutral       Neutral

In [18]:
df.dtypes

satisfaction       object
satisfaction2    category
dtype: object

In [19]:
df.satisfaction2=df.satisfaction2.cat.codes

In [20]:
df.satisfaction2

0   -1
1    3
2    1
3    2
Name: satisfaction2, dtype: int8

In [21]:
df=pd.DataFrame({'vertebrates':['Bird','Bird','Mammal',
                               
                            'Fish','Amphibian','Reptile','Mammal']})

In [22]:
df

  vertebrates
0        Bird
1        Bird
2      Mammal
3        Fish
4   Amphibian
5     Reptile
6      Mammal

In [25]:
df['vertebrates2']=df.vertebrates.astype('category').cat.codes

In [26]:
df

  vertebrates  vertebrates2
0        Bird             1
1        Bird             1
2      Mammal             3
3        Fish             2
4   Amphibian             0
5     Reptile             4
6      Mammal             3

In [ ]:
df = pd.get_dummies(df, columns = ['vertebrates'])

In [1]:
from scipy import misc

In [2]:
img = misc.imread('Screenshot from 2017-02-26 12-01-49.png')
type(img)

numpy.ndarray

In [3]:
img.shape

(768, 1366, 4)

In [4]:
img.dtype

dtype('uint8')